@import "tailwindcss";

@theme {
  --color-primary: #4608C2; /* Morado exacto Vioplast */
  --color-primary-light: #6225e6;
  --color-primary-dark: #2d058a;
  --color-accent: #00e676; /* Verde Neón oficial */
  --color-background: #ffffff;
  --color-text: #333333;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}
